@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font: "Montserrat", sans-serif;
}

body {
  background: white;
  font-family: var(--main-font);
}

.mst-regular {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mst-bold {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
